/Firmware/cmake-build-release_mingw_stm32/
/Firmware/cmake-build-minsizerel_mingw_stm32/
/Firmware/cmake-build-debug_mingw_stm32/
/Firmware/cmake-build-debug/
/Firmware/.idea
/Hardware/ZeptoWatch_backup/
